<div class = "container" style = "margin-top: 15px;">
	<div class = "two-thirds column panel">
		<h3>Player List</h3>
		<p>Thanks for playing on OpenMC!</p>
		<table class = "u-full-width">
			<tbody>
				{{#each all}}
				<tr>
					<td>
						<center>
							<img src = "https://www.mc-heads.net/head/{{name}}/48">
						</center>
					</td>
					<td>
						<span title = "{{#playerStatusDesc this}}{{/playerStatusDesc}}" class = "{{#playerStatus this}}{{/playerStatus}}">{{name}}</span>
					</td>
					<td>	
						<b class = "{{#formatRep rep}}{{/formatRep}}">{{rep}}</b>
					</td>
					<td>
						<a href = "/player/{{name}}">
							<button>View player</button>
						</a>
					</td>
				</tr>
				{{/each}}	
			</tbody>
		</table>
	</div>
	<div class = "one-third column info-panel">
		<h3>Statistics</h3>

		{{all.length}} total players.<br>
		{{online.length}} online players.<br>
		{{members.length}} members.<br>
		{{banned.length}} banned players.
	</div>
</div>

<script>
	var select = document.getElementById("sorter"),
	select.addEventListener('change',function(){
		alert('changed');
	});
	select.addEventListener('click',function(){
		select.value = 2;
		select.dispatchEvent(new Event('change'));
	});
</script>